# Ignorar archivo .env
.env
ngrok.exe
# Ignorar archivo BBDD.xlsx
BBDD.xlsx

HsentimentsF.csv
HsentimentsFconvert_data.csv
HsentimentsFconvert.csv
HsentimentsIconvert.csv
HsentimentsLconvert.csv
HsentimentsI.csv
HsentimentsL.csv
Ksentimentsconvert.csv
merged_dataset.csv
HsentimentsFFilter_sentiments.csv
merged_dataset1.csv
merged_dataset2.csv
channel_C070JLVBAAF_messages.csv
channel_C070JQD8U5Q_messages.csv
channel_C071FJ0SD1B_messages.csv
channel_C07047W5E23_messages.csv
